name: Windows Build Cross-Compiling Meson

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  
jobs:
  Build-Win:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pip install meson ninja
          sudo apt update && sudo apt install g++-mingw-w64-x86-64 gcc-mingw-w64-x86-64 mingw-w64-tools nasm llvm
          
      - name: Download source code
        run: git clone --branch v0.38.0 https://github.com/mpv-player/mpv.git
          
      - name: Initialize subprojects
        run: |
          cd mpv

          cat <<EOF > cross-file.txt
          [binaries]
          c = 'x86_64-w64-mingw32-gcc'
          cpp = 'x86_64-w64-mingw32-g++'
          ar = 'x86_64-w64-mingw32-ar'
          windres = 'x86_64-w64-mingw32-windres'
          strip = 'x86_64-w64-mingw32-strip'
          exe_wrapper = 'wine64'
          
          [host_machine]
          system = 'windows'
          cpu_family = 'x86_64'
          cpu = 'x86_64'
          endian = 'little'
          EOF
          
          meson wrap update-db
          
          meson wrap install expat
          meson wrap install harfbuzz
          meson wrap install libpng
          meson wrap install zlib
          
          mkdir -p subprojects

          cat <<EOF > subprojects/libplacebo.wrap
          [wrap-git]
          url = https://github.com/haasn/libplacebo
          revision = master
          depth = 1
          clone-recursive = true
          EOF
          
          cat <<EOF > subprojects/libass.wrap
          [wrap-git]
          revision = master
          url = https://github.com/libass/libass
          depth = 1
          EOF
          
          cat <<EOF > subprojects/ffmpeg.wrap
          [wrap-git]
          url = https://gitlab.freedesktop.org/gstreamer/meson-ports/ffmpeg.git
          revision = meson-7.1
          depth = 1
          [provide]
          libavcodec = libavcodec_dep
          libavdevice = libavdevice_dep
          libavfilter = libavfilter_dep
          libavformat = libavformat_dep
          libavutil = libavutil_dep
          libswresample = libswresample_dep
          libswscale = libswscale_dep
          EOF

      - name: Build application
        run: |
          mkdir -p upload/bin
          mkdir -p upload/include/mpv
          mkdir -p upload/lib
          cp -r mpv/libmpv/. upload/include/mpv
          
          cd mpv
          
          meson setup -Ddefault_library=static -Dprefer_static=true \
          -Dc_link_args='-static' -Dcpp_link_args='-static' \
          --cross-file cross-file.txt build

          ninja -C build mpv.exe

          cp build/mpv.exe ${{github.workspace}}/upload/bin

      - name: Build library
        run: |
          cd mpv
          
          meson configure build -Dlibmpv=true -Ddefault_library=shared
          
          ninja -C build libmpv-2.dll

          cp build/libmpv-2.dll ${{github.workspace}}/upload/bin
          gendef upload/bin/libmpv-2.dll
          llvm-dlltool -m i386:x86-64 -d ${{github.workspace}}/upload/bin/libmpv-2.def -D libmpv-2.dll -l ${{github.workspace}}/upload/lib/libmpv-2.lib
          cp upload/bin/libmpv-2.def upload/lib

      - name: List upload directories
        run: |
          echo "Listing upload directory..."
          ls -R upload > ls.txt
          
      - name: Upload directory list
        uses: actions/upload-artifact@v4
        with:
          name: ls-artifact
          path: ${{github.workspace}}/ls.txt
          if-no-files-found: ignore
          retention-days: 0
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Windows-artifact
          path: ${{github.workspace}}/upload
          if-no-files-found: ignore
          retention-days: 0
